name: Golangci-lint
on: 
    push
jobs:
    test:
        runs-on: ubuntu-latest
        container: golang:1.23
        steps:
            - uses: actions/checkout@v4

            - name: Vet
              run: go vet ./...

            - name: Run Unit Tests
              run: GOOS=linux GOARCH=amd64 go test

    deploy:
        name: Push Docker image to Docker Hub
        runs-on: ubuntu-latest
        needs: test
        if: startsWith(github.ref, 'refs/tags')
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            
            - name: Set up Docker buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@v5.7.0
              with:
                images: sofuev/parcel_app

            - name: Build and push Docker Image
              uses: docker/build-push-action@v6.17.0
              with:
                context: .
                push: true
                tags: ${{ steps.meta.outputs.tags }}
                labels: ${{ steps.meta.outputs.labels }}
